<!-- ============================================ -->
<!--                  Footer                      -->
<!-- ============================================ -->

<section id="footer">
	<img class="swoosh-footer" src="/assets/svgs/backgroundmask1.svg" aria-hidden="true" alt="">
    <div class="container">
        <div class="top">
            <a aria-label="go back to home" class="logo" href="/">
                <img class="logo-img" loading="lazy" decoding="async" src="/assets/svgs/logo2_white.svg" alt="logo" width="209" height="40">
            </a>
            <ul class="ul">
                {% set navPages = collections.all | eleventyNavigation %}
                {% for entry in navPages %}
                    <li class="li">
                        <a href="{{ entry.url }}" class="link">{{ entry.key }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="bottom">
            <!--Social-->
            <!-- <ul class="social">
                <li class="social-li">
                    <a href="{{ client.social.facebook }}" class="social-link" aria-label="facebook" target="_blank" rel="noopener">
                        <img class="social-icon default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/facebook-ba.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="social-li">
                    <a href="{{ client.social.twitter }}" class="social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="social-icon default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/twitter-ba.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="social-li">
                    <a href="{{ client.social.instagram }}" class="social-link" aria-label="instagram" target="_blank" rel="noopener">
                        <img class="social-icon default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/instagram-ba.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
                <li class="social-li">
                    <a href="{{ client.social.youtube }}" class="social-link" aria-label="twitter" target="_blank" rel="noopener">
                        <img class="social-icon default" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/youtube-ba.svg" alt="icon" loading="lazy" decoding="async" width="12" height="12" aria-hidden="true">
                    </a>
                </li>
            </ul> -->
            <span class="copyright">
                © Copyright 2024 - 
                <a href="" class="copyright-link">{{ client.name }}</a>
            </span>
            <!-- <div class="flex">
                <a href="" class="copyright-link">Privacy Policy</a>
                <span class="separater">|</span>
                <a href="" class="copyright-link">Terms of Use</a>
            </div> -->
        </div>
    </div>
</section>