<!-- ============================================ -->
<!--                 Navigation                   -->
<!-- ============================================ -->

<header id="navigation">
            <!--Nav Logo-->
			<div class="container">
				<a href="/" class="logo" aria-label="back to home">
					<img src="/assets/svgs/logo1.svg" alt="logo" width="197" height="43" aria-hidden="true" decoding="async">
				</a>
				<!--Navigation List-->
				<nav class="nav" role="navigation">
					<!--Mobile Nav Toggle-->
					<button class="toggle" aria-label="mobile menu toggle">
						<div class="box" aria-hidden="true">
							<span class="line line1" aria-hidden="true"></span>
							<span class="line line2" aria-hidden="true"></span>
							<span class="line line3" aria-hidden="true"></span>
						</div>
					</button>
					<!-- All CodeStitch navigations use the same HTML within the ul-wrapper.
					 This one has been built with eleventyNavigation in mind, so you don't need to manually set active link styles or adjust HTML whenever a new page is added.
					 Should you wish to use this way of working, just replace the .ul-wrapper in the new navigation with the one below-->
					<div class="ul-wrapper">
						<ul id="expanded" class="ul" aria-expanded="false">
							{% set navPages = collections.all | eleventyNavigation %}
							{# Loop through all pages with a eleventyNavigation in the frontmatter #}
							{% for entry in navPages %}
								{# Define a hasChild variable to make it easier to test what links are dropdowns#}
								{% set hasChild = entry.children.length %}
	
								{# If this page is a dropdown, give it the appropriate classes, icons and accessibility attributes#}
								<li class="li {% if hasChild %} dropdown {% endif %}" {% if hasChild %} tabindex="0"{% endif %}>
	
									{# Similarly, if the link is active, apply the necessary classes #}
									<a href="{{ entry.url }}" class="li-link {% if entry.url == page.url %} active {% endif %}">
										{{ entry.key }}
										{% if hasChild %}
											<img class="drop-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons%2Fdown.svg" alt="dropdown icon" width="15" height="15" decoding="async" aria-hidden="true">
										{% endif %}
									</a>
	
									{# Dropdowns have another ul/li set up within the parent li. Render in the same way as a normal link #}
									{% if hasChild %}
										<ul class="drop-ul">
											{% for child in entry.children %}
												<li class="drop-li">
													<a href="{{ child.url }}" class="li-link drop-link">{{ child.key }}</a>
												</li>
											{% endfor %}
										</ul>
									{% endif %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</nav>
			
        </div>
		
 
</header>