/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero {
    /* 296px - 364px - top leaving extra space for the navigation */
    /* 60px - 100px bottom */
    padding: clamp(3.5rem, 8.95vw, 16.75rem) 1rem clamp(3.75rem, 7.82vw, 6.25rem);
    position: relative;
    z-index: 1;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
  }
  #hero .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* 140px - 180px */
  }
  #hero .content {
    width: 100%;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    /* 112px - 144px top & bottom */
    /* 16px - 48px left & right */
    padding: clamp(7rem, 8vw, 9rem) clamp(1rem, 5vw, 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #hero .topper {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.5vw, 1rem);
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.25rem;
    color: var(--primary);
    gap: 0.5rem;
    position: relative;
  }
  #hero .chevron {
    --chevronColor: var(--primary);
    width: 3rem;
    height: auto;
  }
  #hero .title {
    /* 39px - 61px */
    font-size: clamp(2.4375rem, 6.4vw, 3.8125rem);
    font-weight: 900;
    line-height: 1em;
    max-width: 51.8125rem;
    /* 16px - 24px */
    margin: 0 0 2.5rem 0;
    color: var(--secondary);
    position: relative;
  }
  #hero p {
    /* 16px - 20px */
    font-size: clamp(1rem, 1.95vw, 1.25rem);
    line-height: 1.5em;
    width: 100%;
    /* 464px - 622px */
    max-width: clamp(29rem, 60vw, 38.785rem);
    margin: 0;
    margin-bottom: 2rem;
    color: var(--secondary);
  }
  #hero p span {
    font-weight: 700;
    color: var(--primary);
  }
  #hero .left {
    padding-bottom: clamp(7rem, 8vw, 9rem);
  }
  #hero .right .image-group {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
  }
  #hero .right .image-group .top-left {
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
  }
  #hero .right .image-group .middle {
    grid-column: 1/-1;
    grid-row: 1/4;
  }
  #hero .right .image-group .bottom-right {
    grid-row: 3;
    grid-column: 3;
    z-index: 10;
    width: 100%;
    height: 100%;
  }
  #hero .right .image-group .circle img {
    border: clamp(3px, 1rem, 10px) solid white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
  #hero .right .image-group .middle img {
    border-radius: 400px;
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero .right {
    width: clamp(20rem, 50vw, 150rem);
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero .content {
    width: 100%;
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    /* 112px - 144px top & bottom */
    /* 16px - 48px left & right */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    z-index: 1;
  }
  #hero .right {
    width: auto;
  }
  #hero .right .image-group {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 200px 200px;
  }
  #hero .right .image-group .top-left {
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
  }
  #hero .right .image-group .middle {
    grid-column: 1;
    width: 400px;
    height: 600px;
  }
  #hero .right .image-group .bottom-right {
    grid-row: 3;
    grid-column: 2;
    z-index: 10;
  }
  #hero .right .image-group .circle img {
    border: 10px solid white;
    border-radius: 50%;
  }
  #hero .right .image-group .middle img {
    border-radius: 400px;
  }
}
/* Large Desktop - Parallax Effect - 1600px */
@media only screen and (min-width: 100rem) {
  #hero .background {
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-2.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  #hero .background img {
    display: none;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-523 {
    padding: var(--sectionPadding);
  }
  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.6em);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes floatAnimation2 {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-1em);
    }
    100% {
      transform: translateY(0);
    }
  }
  #sbs-523 .container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #sbs-523 .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-523 .color {
    color: var(--secondary);
  }
  #sbs-523 .text {
    margin-bottom: 1rem;
  }
  #sbs-523 .text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-523 .image-group {
    /* this is how we can scale entire groups using ems.  Font size is tied to the view width, so as the screen gets bigger, so does the font size, and this scales up and down the elements with em values.  Then it stops growing once the font size reaches the defined value of 1em (16px which is default on the html element). Font size changes at desktop */
    font-size: min(2.3vw, .875em);
    /* all values are done in ems, not rems, so we can scale the group with a font size min/max equation */
    width: 39.375em;
    height: 51.0625em;
    /* pushes it to the top in the first position */
    order: -1;
    position: relative;
  }
  #sbs-523 .image-group:before {
    content: "";
    width: 11.625em;
    height: 10.0625em;
    background: var(--primary);
    opacity: 1;
    display: block;
    position: absolute;
    top: 0em;
    left: 0em;
    animation-name: floatAnimation;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
  #sbs-523 .picture {
    display: block;
    position: absolute;
  }
  #sbs-523 .picture img {
    width: 100%;
    height: 100%;
    /* makes it act like a background image */
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbs-523 .picture-large {
    width: 29.75em;
    height: 42.3125em;
    top: 4.375em;
    left: 3.875em;
  }
  #sbs-523 .picture-small {
    width: 16.25em;
    height: 14.0625em;
    background-color: #fff;
    border: 0.625em solid #fff;
    right: 0;
    bottom: 0;
    animation-name: floatAnimation2;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs-523 .container {
    max-width: 80rem;
    flex-direction: row;
    justify-content: space-between;
  }
  #sbs-523 .content {
    width: 51%;
    max-width: 34.375rem;
  }
  #sbs-523 .image-group {
    font-size: min(1.1vw, 1em);
  }
}
/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-1172 {
    padding: var(--sectionPadding);
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #steps-1172 .container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps-1172 .content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #steps-1172 .text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #steps-1172 .card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
  }
  #steps-1172 .item {
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 12;
    position: relative;
  }
  #steps-1172 .item:last-of-type:after {
    display: none;
  }
  #steps-1172 .item:nth-of-type(even):after {
    /* scaleX -1 flips it horizontally */
    transform: rotate(-135deg) scaleX(-1);
  }
  #steps-1172 .item:after {
    content: "";
    /* 54px - 84px */
    width: clamp(3.375rem, 6vw, 5.25rem);
    height: clamp(3.375rem, 6vw, 5.25rem);
    margin-top: 1.25rem;
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/curved-arrow-light.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 1;
    display: block;
    position: relative;
    transform: rotate(135deg);
  }
  #steps-1172 .picture {
    width: 5.5rem;
    height: 5.5rem;
    margin-bottom: 1.5rem;
    border: 1px solid #858585;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #steps-1172 .icon {
    width: 2.5rem;
    height: auto;
    display: block;
  }
  #steps-1172 .h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #steps-1172 .item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    max-width: 21.375rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-1172 .item {
    grid-column: span 6;
  }
  #steps-1172 .item:nth-of-type(2):after {
    display: none;
  }
  #steps-1172 .item:nth-of-type(1):after {
    transform: rotate(135deg) scaleX(-1);
  }
  #steps-1172 .item:after {
    margin: 0;
    position: absolute;
    top: 0;
    right: -2.5rem;
    transform: rotate(45deg);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #steps-1172 .container {
    max-width: 80rem;
  }
  #steps-1172 .item {
    grid-column: span 3;
  }
  #steps-1172 .item:nth-of-type(2):after {
    display: block;
    transform: rotate(45deg);
  }
  #steps-1172 .item:nth-of-type(3):after {
    display: block;
    transform: rotate(135deg) scaleX(-1);
  }
  #steps-1172 .item:after {
    right: -3rem;
  }
}
/*-- -------------------------- -->
<---      Why Choose Us         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #why-choose-1657 {
    padding: var(--sectionPadding);
    background-color: #f3f3f4;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #why-choose-1657 .container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 10vw, 6.25rem);
  }
  #why-choose-1657 .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #why-choose-1657 .flex {
    max-width: 38.5rem;
  }
  #why-choose-1657 .title {
    max-width: 20ch;
    margin-bottom: 1.5rem;
  }
  #why-choose-1657 .ul {
    width: 100%;
    max-width: 32.625rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* 28px - 32px */
    gap: clamp(1.75rem, 3vw, 2rem);
  }
  #why-choose-1657 .li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
  #why-choose-1657 .number {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--primary);
    display: block;
  }
  #why-choose-1657 .li-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #why-choose-1657 .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* 40px - 64px */
    gap: clamp(2.5rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #why-choose-1657 .wrapper:before {
    /* white background */
    content: "";
    width: 100vw;
    height: 500%;
    background: #fff;
    opacity: 1;
    display: block;
    position: absolute;
    /* 40px - 140px */
    top: clamp(2.5rem, 10vw, 8.75rem);
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #why-choose-1657 .picture {
    width: 100%;
    height: 70vw;
    max-height: 25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #why-choose-1657 .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #why-choose-1657 .quote {
    /* 62px - 100px */
    width: clamp(3.875rem, 7vw, 6.25rem);
    height: auto;
    margin-bottom: -1.75rem;
    opacity: 0.4;
    position: relative;
    z-index: -1;
  }
  #why-choose-1657 .review {
    --quoteColor: var(--primary);
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    width: 100%;
    max-width: 32.625rem;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #why-choose-1657 .container {
    max-width: 80rem;
    gap: 0;
  }
  #why-choose-1657 .content {
    padding-bottom: 6.25rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #why-choose-1657 .flex {
    text-align: left;
    width: 40vw;
    max-width: 39.375rem;
    flex: none;
  }
  #why-choose-1657 .title {
    margin: 0;
  }
  #why-choose-1657 .wrapper {
    /* -60px to -140px */
    margin-top: calc(clamp(3.75rem, 10vw, 8.75rem)*-1);
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #why-choose-1657 .picture {
    width: 43vw;
    max-width: 39.375rem;
    height: auto;
    max-height: 100%;
    /* 252px - 414px */
    min-height: clamp(15.75rem, 30vw, 25.875rem);
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #why-choose-1657 .review {
    /* 100px - 235px */
    /* pushes up against the container so there's always that gap between the top of the review and the container */
    margin-top: clamp(6.25rem, 20vw, 14.5rem);
    align-self: flex-end;
  }
}
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-1309 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #sbsr-1309 .container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: clamp(3rem, 4vw, 4rem);
  }
  #sbsr-1309 .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 33.875rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
    position: relative;
    z-index: 10;
  }
  #sbsr-1309 .text {
    margin-bottom: 1rem;
  }
  #sbsr-1309 .text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-1309 .image-group {
    width: 100%;
    max-width: 41.875rem;
    height: 100vw;
    max-height: 39.375rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #sbsr-1309 .picture {
    /* big background image */
    width: 93%;
    height: 93%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-1309 .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #sbsr-1309 .box {
    text-align: left;
    width: 70%;
    max-width: 19rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 20px - 40px */
    padding: clamp(1.25rem, 4vw, 2.5rem);
    background-color: #1a1a1a;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
  #sbsr-1309 .desc {
    /* 16px - 31px */
    font-size: clamp(1rem, 2.5vw, 1.9375rem);
    font-weight: 700;
    line-height: 1.2em;
    text-align: inherit;
    width: 100%;
    color: var(--bodyTextColorWhite);
    position: relative;
    z-index: 10;
  }
  #sbsr-1309 .graphic {
    width: 150%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-1309 .container {
    max-width: 80rem;
    /* set to horizontal arrangement */
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #sbsr-1309 .content {
    width: 48%;
    padding: 3rem 0;
    align-self: center;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #sbsr-1309 .image-group {
    width: 55%;
    max-width: 41.875rem;
    height: auto;
    max-height: 100%;
    min-height: 41.875rem;
    margin: 0;
    /* sends it to the right in the second position */
    order: 2;
  }
  #sbsr-1309 .picture {
    width: 93%;
    height: 94%;
    right: 0;
    left: auto;
  }
  #sbsr-1309 .box {
    right: auto;
    bottom: 0rem;
    left: 0;
  }
  #sbsr-1309 .graphic {
    max-width: 44.6875rem;
    right: 8.125rem;
    left: auto;
    transform: translateY(-50%);
  }
}
