/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero {
    /* 296px - 364px - top leaving extra space for the navigation */
    /* 60px - 100px bottom */
    padding: 5vh 0;
    position: relative;
    z-index: 1;
    /* prevents the topper line from causing an overflow */
  }
  #hero .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  #hero .content {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
    /* 112px - 144px top & bottom */
    /* 16px - 48px left & right */
    padding: clamp(6.5rem, 8.95vw, 10.75rem) 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 4rem;
    z-index: 1;
  }
  #hero .topper {
    /* 13px - 16px */
    font-size: clamp(0.8125rem, 1.5vw, 1rem);
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 0.25rem;
    color: var(--primary);
    gap: 0.5rem;
    position: relative;
  }
  #hero .title {
    /* 39px - 61px */
    font-weight: 900;
    line-height: 1em;
    /* 16px - 24px */
    margin: 0 0 2.5rem 0;
    color: var(--secondary);
    position: relative;
  }
  #hero p {
    /* 16px - 20px */
    line-height: var(--fs-2);
    width: 100%;
    /* 464px - 622px */
    margin: 0;
    margin-bottom: 2rem;
    color: var(--secondary);
  }
  #hero p span {
    font-weight: 700;
    color: var(--primary);
  }
  #hero .right .image-group {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    position: relative;
    margin: auto;
  }
  #hero .right .image-group .top-left {
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
    position: relative;
    top: -20px;
    left: -20px;
  }
  #hero .right .middle {
    grid-column: 1/-1;
    grid-row: 1/4;
  }
  #hero .right .bottom-right {
    position: relative;
    grid-row: 3;
    grid-column: 3;
    z-index: 10;
    top: 20px;
    left: 20px;
  }
  #hero .right .circle img {
    border: clamp(3px, 1rem, 10px) solid white;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #hero .right .middle img {
    object-fit: cover;
    border-radius: 400px;
    width: 100%;
    height: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero .content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0;
    align-items: start;
  }
  #hero .content h1 {
    -webkit-text-stroke: 6px var(--bodyTextColorWhite);
    text-stroke: 6px var(--bodyTextColorWhite);
    paint-order: stroke fill;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero .content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: none;
    justify-items: center;
  }
  #hero .right {
    width: auto;
  }
  #hero .right .image-group {
    width: 100%;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px 300px 200px;
  }
  #hero .right .image-group .top-left {
    grid-row: 1;
    grid-column: 1;
    z-index: 10;
    top: -50px;
    left: -50px;
  }
  #hero .right .image-group .middle {
    grid-column: 1/-1;
    grid-row: 1/-1;
  }
  #hero .right .image-group .bottom-right {
    grid-row: 3;
    grid-column: 2;
    z-index: 10;
    top: 50px;
    left: 50px;
  }
  #hero .right .image-group .circle img {
    border: 10px solid white;
    border-radius: 50%;
  }
  #hero .right .image-group .middle img {
    border-radius: 400px;
  }
}
/* Large Desktop - 1300px */
/* Large Desktop - Parallax Effect - 1600px */
/*-- -------------------------- -->
<---       We Create            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #we-create {
    position: relative;
    overflow: hidden;
    padding: clamp(6.5rem, 8.95vw, 10.75rem) 2rem;
    padding-bottom: 0px;
    background: #333a73;
    background: linear-gradient(45deg, #333a73 0%, #387adf 100%);
    color: var(--bodyTextColorWhite);
  }
  #we-create h2 {
    color: var(--bodyTextColorWhite);
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-thickness: 0.5rem;
    padding-bottom: 2rem;
  }
  #we-create .container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }
  #we-create .info {
    max-width: clamp(45ch, 60ch, 75ch);
  }
  #we-create .content {
    /* set text align to left if content needs to be left aligned */
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
    text-align: center;
    margin: auto;
  }
  #we-create .content ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: stretch;
    padding-inline-start: 0;
  }
  #we-create .content ul li {
    padding: clamp(2rem, 5vw, 9rem) 0;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 4fr;
    text-align: left;
  }
  #we-create .content ul li svg {
    fill: var(--bodyTextColorWhite);
    width: auto;
    height: 3.125rem;
    width: 3.125rem;
    grid-row: span 3;
    z-index: 1;
    opacity: 0.2;
    transform: scale(5);
  }
  #we-create .content ul li h4 {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
  }
  #we-create .content ul li p {
    grid-column: 2;
  }
  #we-create .content ul > :nth-child(2) {
    justify-content: right;
  }
}
/* Tablet - 768px */
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #we-create {
    padding: var(--sectionPadding);
    padding-bottom: 200px;
  }
  #we-create h2 {
    color: var(--bodyTextColorWhite);
    text-align: center;
  }
  #we-create .container {
    width: 100%;
    /* changes to 1280px at desktop */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
  }
  #we-create .content {
    margin: auto;
  }
  #we-create .content ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    justify-content: space-around;
    align-items: baseline;
  }
  #we-create .content ul li {
    padding: 0 2rem;
  }
  #we-create .content ul li p {
    margin-inline-start: 2rem;
  }
}
/*-- -------------------------- -->
<---           side-by-side            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #side-by-side {
    padding: var(--sectionPadding);
    position: relative;
    padding: clamp(8.5rem, 10.95vw, 16.75rem) 2rem;
  }
  #side-by-side .container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 65.625rem;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* 48px - 64px */
  }
  #side-by-side .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #side-by-side .title {
    color: var(--secondary);
    z-index: 100;
  }
  #side-by-side .title span {
    color: var(--primary);
  }
  #side-by-side .left {
    position: relative;
  }
  #side-by-side .left::before {
    content: "";
    width: clamp(7.375rem, 12vw, 11.25rem);
    height: clamp(7.375rem, 12vw, 11.25rem);
    z-index: -1;
    border: 15px solid var(--actionColor);
    border-radius: 50%;
    left: -35px;
    top: -35px;
    position: absolute;
  }
  #side-by-side li::marker {
    color: var(--actionColor);
    font-size: 1.5em;
  }
  #side-by-side li h4 {
    margin: 0;
    color: var(--primary);
  }
  .swoosh {
    position: absolute;
    width: 100%;
    transform: translate(0px, -150px) scaleX(2);
    overflow: hidden;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #side-by-side .content {
    /* set text align to left if content needs to be left aligned */
    display: flex;
    flex-direction: row;
  }
  #side-by-side .swoosh {
    transform: translate(0px, -45px) scaleX(1.5);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #side-by-side .swoosh {
    transform: translate(0px, 0px) scaleX(2);
  }
}
/*-- -------------------------- -->
<---            story            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #story {
    padding: var(--sectionPadding);
    background-color: #f3f3f4;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #story .container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 100px */
    gap: clamp(3rem, 10vw, 6.25rem);
  }
  #story .content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #story .flex {
    max-width: 38.5rem;
  }
  #story .title {
    max-width: 20ch;
    margin-bottom: 1.5rem;
  }
  #story .ul {
    width: 100%;
    max-width: 32.625rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* 28px - 32px */
    gap: clamp(1.75rem, 3vw, 2rem);
  }
  #story .li {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
  }
  #story .number {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--primary);
    display: block;
  }
  #story .li-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #story .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* 40px - 64px */
    gap: clamp(2.5rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #story .wrapper:before {
    /* white background */
    content: "";
    width: 100vw;
    height: 500%;
    background: --var(bodyTextColorWhite);
    opacity: 1;
    display: block;
    position: absolute;
    /* 40px - 140px */
    top: clamp(2.5rem, 10vw, 8.75rem);
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
  #story .picture {
    width: 100%;
    height: 70vw;
    max-height: 25rem;
    display: block;
    position: relative;
    z-index: 1;
  }
  #story .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #story .quote {
    /* 62px - 100px */
    width: clamp(3.875rem, 7vw, 6.25rem);
    height: auto;
    margin-bottom: -1.75rem;
    opacity: 0.4;
    position: relative;
    z-index: -1;
  }
  #story .review {
    --quoteColor: var(--primary);
    /* 20px - 25px */
    font-size: clamp(1.25rem, 3vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    width: 100%;
    max-width: 32.625rem;
    margin: 0;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #story .container {
    max-width: 80rem;
    gap: 0;
  }
  #story .content {
    padding-bottom: 6.25rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  #story .flex {
    text-align: left;
    width: 40vw;
    max-width: 39.375rem;
    flex: none;
  }
  #story .title {
    margin: 0;
  }
  #story .wrapper {
    /* -60px to -140px */
    margin-top: calc(clamp(3.75rem, 10vw, 8.75rem)*-1);
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
  #story .picture {
    width: 43vw;
    max-width: 39.375rem;
    height: auto;
    max-height: 100%;
    /* 252px - 414px */
    min-height: clamp(15.75rem, 30vw, 25.875rem);
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #story .review {
    /* 100px - 235px */
    /* pushes up against the container so there's always that gap between the top of the review and the container */
    margin-top: clamp(6.25rem, 20vw, 14.5rem);
    align-self: flex-end;
  }
}
/*-- -------------------------- -->
<---   Price Plans     -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #price-plans {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #price-plans .container {
    width: 100%;
    /* changes to 1280px at desktop */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #price-plans .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    gap: 1rem;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
  }
  #price-plans .price-card {
    --br: 1rem;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-gap: 1rem;
    width: 100%;
    max-width: 30rem;
  }
  #price-plans .price-card .card-header {
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: var(--br);
    background-color: var(--primary);
    color: var(--bodyTextColorWhite);
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #price-plans .price-card .card-header span {
    font-weight: 400;
  }
  #price-plans .price-card .card-content {
    margin: 0;
    padding: 1rem;
    border-radius: var(--br);
    background-color: var(--secondary);
    color: var(--bodyTextColorWhite);
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  #price-plans .price-card .card-content .title {
    text-align: center;
    color: var(--bodyTextColorWhite);
    margin-block-start: 1.5rem;
  }
  #price-plans .price-card .card-content .title .month {
    font-size: 1.2rem;
    vertical-align: middle;
    left: -10px;
    position: relative;
  }
  #price-plans .price-card .card-content .title .dollar {
    font-size: 1.2rem;
    vertical-align: top;
    top: -10px;
    position: relative;
  }
  #price-plans .price-card .card-content .content-list {
    list-style: none;
    margin-bottom: 3rem;
    padding-inline-start: 0;
    padding: 1rem;
  }
  #price-plans .price-card .card-content .content-list li {
    text-wrap: nowrap;
    padding-top: 1rem;
    display: flex;
    vertical-align: center;
  }
  #price-plans .price-card .card-content .content-list li svg {
    height: 2rem;
    width: 2rem;
    margin-inline-end: 1rem;
    fill: var(--actionColor);
  }
  #price-plans .price-card .card-content .content-list li::marker {
    font-size: 1.5rem;
    color: var(--actionColor);
  }
  #price-plans .price-card .card-content .content-list li p {
    margin-block: 0;
  }
  #price-plans .button-solid {
    text-wrap: nowrap;
  }
}
/* tablet - 768px */
@media only screen and (min-width: 48rem) {
  #price-plans .content {
    display: grid;
    grid-template-columns: 4fr 3fr;
    width: fit-content;
  }
}
/* Desktop - px */
@media only screen and (min-width: 64rem) {
  #price-plans .content {
    display: grid;
    grid-template-columns: 4fr 3fr;
    width: fit-content;
  }
}
