/*-- -------------------------- -->
<---		Core Styles		-->
<--- -------------------------- -*/
:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #387ADF;
  --primaryLight: #50C4ED;
  --secondary: #333A73;
  --secondaryLight: #333A73;
  --headerColor: #5f3a3a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  --actionColor: #FBA834;
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.563rem;
  --fs-600: 1.953rem;
  --fs-700: 2.441rem;
  --fs-800: 3.052rem;
  --bodyFontFamily: 'Roboto', Arial, sans-serif;
  --measure: 60ch;
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
}
@media only screen and (min-width: 40em) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.25rem;
    --fs-500: 2rem;
    --fs-600: 2.827rem;
    --fs-700: 4rem;
    --fs-800: 5.653rem;
  }
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/roboto-v30-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
* {
  max-inline-size: var(--measure);
}
html,
body,
div,
header,
section,
nav,
img,
picture,
main,
ul,
footer {
  max-inline-size: none;
}
.max-inline-size\:measure {
  max-inline-size: var(--measure);
}
.max-inline-size\:measure\/2 {
  max-inline-size: calc(var(--measure) / 2);
}
.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  --stack-space: (24/16rem);
}
.stack > * + * {
  margin-top: var(--stack-space, 1rem);
}
h1 {
  font-size: var(--fs-800);
}
h2 {
  font-size: var(--fs-700);
}
h3 {
  font-size: var(--fs-600);
}
h4 {
  font-size: var(--fs-500);
}
.text-small,
small {
  font-size: var(--fs-300);
}
li:not([class]),
p:not([class]),
ul:not([class]) {
  max-width: 65ch;
}
@media only screen and (min-width: 0rem) {
  body {
    font-family: var(--bodyFontFamily);
    font-size: var(--fs-400);
    margin: 0;
    padding: 0;
    line-height: 1.6;
  }
  *,
  *:before,
  *:after {
    /* prevents padding from affecting height and width */
    box-sizing: border-box;
  }
  .title {
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  .text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  .button,
  .button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    border-radius: 50px;
    color: var(--bodyTextColorWhite);
    border: 3px solid var(--actionColor);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  .button-solid {
    background-color: var(--actionColor);
    border: none;
  }
  .button-solid:hover {
    filter: hue-rotate(200);
  }
}
/*-- -------------------------- -->
<---	Mobile Navigation	-->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  body.open {
    overflow: hidden;
  }
  body.scroll #navigation .top-container {
    gap: 0;
  }
  body.scroll #navigation .top-social {
    height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
  }
  #navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
  }
  #navigation:before {
    content: "";
    width: 100%;
    height: 0vh;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: -1100;
    transition: height 0.5s, opacity 0.5s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }
  #navigation.active:before {
    height: 150vh;
    opacity: 1;
  }
  #navigation.active .ul-wrapper {
    opacity: 1;
    transform: scaleY(1);
    transition-delay: 0.15s;
  }
  #navigation.active .li {
    opacity: 1;
    transform: translateY(0);
  }
  #navigation .top-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navigation .top-container {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 16px - 20px */
    padding: clamp(1rem, 2.5vw, 1.25rem) 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
  #navigation .contact-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* sends it to the right in the 2nd position */
    order: 2;
    gap: 2.5rem;
  }
  #navigation .contact-link {
    display: none;
  }
  #navigation .container {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* 16px - 20px */
    padding: clamp(1rem, 2.5vw, 1.25rem) 1rem;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  #navigation .logo {
    width: auto;
    /* 24px - 32px */
    height: clamp(1.5rem, 3vw, 2rem);
    margin: 0 auto 0 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1;
    z-index: 10;
  }
  #navigation .logo img {
    width: auto;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #navigation .nav {
    order: 2;
  }
  #navigation .toggle {
    /* 48px - 56px */
    width: clamp(3rem, 7.2vw, 3.5rem);
    height: clamp(3rem, 7.2vw, 3.5rem);
    margin: 0 0 0 auto;
    background-color: #484848;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
  }
  #navigation .toggle.active {
    transform: rotate(180deg);
  }
  #navigation .active .line1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(225deg);
  }
  #navigation .active .line2 {
    top: 50%;
    transform: translate(-50%, -50%) translateY(0) rotate(-225deg);
    transform-origin: center;
  }
  #navigation .active .line3 {
    opacity: 0;
    bottom: 100%;
  }
  #navigation .box {
    /* 24px - 28px */
    width: clamp(1.5rem, 2vw, 1.75rem);
    height: 1rem;
    position: relative;
  }
  #navigation .line {
    width: 100%;
    height: 2px;
    background-color: #fafbfc;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  #navigation .line1 {
    top: 0;
    transition: transform 0.5s, top 0.3s, left 0.3s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: center;
  }
  #navigation .line2 {
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: top 0.3s, left 0.3s, transform 0.5s;
    animation-duration: 0.7s;
    animation-timing-function: ease;
    animation-direction: normal;
    animation-fill-mode: forwards;
  }
  #navigation .line3 {
    bottom: 0;
    transition: bottom 0.3s, opacity 0.3s;
  }
  #navigation .ul-wrapper {
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    background-color: #fff;
    box-shadow: inset rgba(0, 0, 0, 0.2) 0px 8px 24px;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: -1;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform 0.4s, opacity 0.3s;
    transform-origin: top;
  }
  #navigation .ul {
    width: 100%;
    height: auto;
    max-height: 65vh;
    margin: 0;
    padding: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.25rem;
    overflow: scroll;
  }
  #navigation .li {
    text-align: center;
    list-style: none;
    width: 100%;
    margin-right: 0;
    opacity: 0;
    /* transition from these values */
    transform: translateY(-4.375rem);
    transition: transform 0.6s, opacity 0.9s;
  }
  #navigation .li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #navigation .li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #navigation .li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #navigation .li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #navigation .li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #navigation .li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #navigation .li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #navigation .li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #navigation .li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #navigation .li:nth-of-type(10) {
    transition-delay: 0.5s;
  }
  #navigation .li:nth-of-type(11) {
    transition-delay: 0.55s;
  }
  #navigation .li:nth-of-type(12) {
    transition-delay: 0.6s;
  }
  #navigation .li:nth-of-type(13) {
    transition-delay: 0.65s;
  }
  #navigation .li-link {
    /* 16px - 24px */
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 1.2em;
    text-decoration: none;
    margin: 0;
    color: var(--headerColor);
    display: inline-block;
    position: relative;
  }
  #navigation .li-link.active {
    color: var(--primary);
  }
  #navigation .li-link:hover {
    color: var(--primary);
  }
  #navigation .button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 1.5rem;
    color: #1a1a1a;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #navigation .button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #navigation .button-solid:hover {
    color: #fff;
  }
  #navigation .button-solid:hover:before {
    width: 100%;
  }
  #navigation .button-solid {
    margin: 0;
    display: none;
  }
  #navigation .call {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  #navigation .call:before {
    /* light green circle that animates on hover */
    content: "";
    width: 3rem;
    height: 3rem;
    background: #eff1f0;
    opacity: 1;
    border-radius: 1.5rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
    transform: translateY(-50%);
    transition: width 0.3s, height 0.3s, border-radius 0.3s;
  }
  #navigation .call .wrapper {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #navigation .call .icon {
    width: 1.5rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  #navigation .call .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #navigation .call .header {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #navigation .call .link-content {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  ::root {
    font-size: 18px ;
  }
  #navigation .button-solid {
    display: block;
  }
}
/*-- -------------------------- -->
<---	Navigation Dropdown	-->
<--- -------------------------- -*/
/* Mobile - 1023px */
@media only screen and (max-width: 63.9375rem) {
  #navigation .li {
    text-align: center;
    width: 100%;
    display: block;
  }
  #navigation .dropdown {
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #navigation .dropdown.active .drop-ul {
    height: auto;
    margin: 0.75rem 0 0 0;
    padding: 0.75rem 0;
    opacity: 1;
    visibility: visible;
  }
  #navigation .dropdown.active .drop-link {
    opacity: 1;
  }
  #navigation .dropdown .li-link {
    position: relative;
    transition: opacity 0.3s;
  }
  #navigation .drop-icon {
    width: 0.9375rem;
    height: auto;
    position: absolute;
    top: 50%;
    right: -1.25rem;
    transform: translateY(-50%);
  }
  #navigation .drop-ul {
    width: 100%;
    height: 100%;
    margin: 1rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
    overflow: hidden;
  }
  #navigation .drop-li {
    list-style: none;
  }
  #navigation .li-link.drop-link {
    color: var(--headerColor);
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #navigation .dropdown {
    position: relative;
  }
  #navigation .dropdown:hover {
    cursor: pointer;
  }
  #navigation .dropdown:hover .drop-ul {
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
  }
  #navigation .dropdown:hover .drop-li {
    opacity: 1;
    transform: translateY(0);
  }
  #navigation .drop-icon {
    width: 0.9375rem;
    height: auto;
    display: inline-block;
  }
  #navigation .drop-ul {
    min-width: 12.5rem;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 16px;
    opacity: 0;
    border-bottom: 5px solid var(--primary);
    visibility: hidden;
    /* if you have 8 or more links in your dropdown nav, uncomment the columns property to make the list into 2 even columns. Change it to 3 or 4 if you need extra columns. Then remove the transition delays on the drop-li so they don't have weird scattered animations */
    position: absolute;
    top: 100%;
    z-index: -100;
    overflow: hidden;
    transform: scaleY(0);
    transition: transform 0.3s, visibility 0.3s, opacity 0.3s;
    transform-origin: top;
  }
  #navigation .drop-li {
    font-size: 1rem;
    text-decoration: none;
    list-style: none;
    width: 100%;
    height: auto;
    opacity: 0;
    display: block;
    transform: translateY(-0.625rem);
    transition: opacity 0.6s, transform 0.6s;
  }
  #navigation .drop-li:nth-of-type(1) {
    transition-delay: 0.05s;
  }
  #navigation .drop-li:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #navigation .drop-li:nth-of-type(3) {
    transition-delay: 0.15s;
  }
  #navigation .drop-li:nth-of-type(4) {
    transition-delay: 0.2s;
  }
  #navigation .drop-li:nth-of-type(5) {
    transition-delay: 0.25s;
  }
  #navigation .drop-li:nth-of-type(6) {
    transition-delay: 0.3s;
  }
  #navigation .drop-li:nth-of-type(7) {
    transition-delay: 0.35s;
  }
  #navigation .drop-li:nth-of-type(8) {
    transition-delay: 0.4s;
  }
  #navigation .drop-li:nth-of-type(9) {
    transition-delay: 0.45s;
  }
  #navigation .drop-li:nth-of-type(10) {
    transition-delay: 0.5s;
  }
  #navigation .drop-li:nth-of-type(11) {
    transition-delay: 0.55s;
  }
  #navigation .drop-li:nth-of-type(12) {
    transition-delay: 0.6s;
  }
  #navigation .drop-li:nth-of-type(13) {
    transition-delay: 0.65s;
  }
  #navigation .li-link.drop-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0.75rem;
    color: var(--bodyTextColor);
    display: block;
    transition: color 0.3s, background-color 0.3s;
  }
  #navigation .li-link.drop-link:hover {
    color: var(--primary);
    background-color: #f7f7f7;
  }
  #navigation .li-link.drop-link:before {
    display: none;
  }
}
/*-- -------------------------- -->
<---	Desktop Navigation	-->
<--- -------------------------- -*/
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #navigation {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 0;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    position: fixed;
    z-index: 10000;
  }
  #navigation .top-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navigation .top-container {
    width: 100%;
    max-width: 80rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  #navigation .contact-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
  }
  #navigation .contact-link {
    text-decoration: none;
    padding-right: 1.875rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: relative;
    transform-style: preserve-3d;
    perspective: 200px;
  }
  #navigation .contact-link:nth-of-type(2) {
    display: none;
  }
  #navigation .contact-link:hover .wrapper {
    transform: rotateY(180deg);
  }
  #navigation .wrapper {
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: transform 0.6s;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #navigation .wrapper:before {
    /* backgorund color in pseudo so we can use the primary color variable and use opacity */
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--primary);
    opacity: 0.1;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
  #navigation .icon {
    width: 1.5rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  #navigation .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  #navigation .header {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
    display: block;
  }
  #navigation .link-content {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColor);
    display: block;
  }
  #navigation .button-solid {
    font-size: 1rem;
    font-weight: 700;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-align: center;
    text-decoration: none;
    min-width: 9.375rem;
    margin: 0;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
    padding: 0 3rem;
    color: #1a1a1a;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: color 0.3s;
  }
  #navigation .button-solid:before {
    content: "";
    width: 0%;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #navigation .button-solid:hover {
    color: #fff;
  }
  #navigation .button-solid:hover:before {
    width: 100%;
  }
  #navigation .bottom-bar {
    width: 100%;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #navigation .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    /* prevents padding from affectin gheight */
    box-sizing: border-box;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    position: relative;
  }
  #navigation .toggle {
    display: none;
  }
  #navigation .logo {
    width: 18.4%;
    max-width: 12.3125rem;
    height: 3.75rem;
    /* margin-right auto pushes everything away from it to the right */
    margin: 0 auto 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  #navigation .logo img {
    width: 100%;
    height: 100%;
    /* ensures the image never overflows the container. It stays contained within it's width and height and expands to fill it then stops once it reaches an edge */
    object-fit: contain;
  }
  #navigation .ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.25rem;
  }
  #navigation .li {
    list-style: none;
    padding: 2.25rem 0;
    /* prevent flexbox from squishing it */
    flex: none;
  }
  #navigation .li-link {
    font-size: 1rem;
    line-height: 1.5em;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
    position: relative;
    transition: color 0.3s;
  }
  #navigation .li-link:hover {
    color: var(--primary);
  }
  #navigation .li-link.active {
    font-weight: 700;
    color: var(--primary);
  }
  #navigation .call {
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    position: relative;
    transform-style: preserve-3d;
    perspective: 200px;
  }
  #navigation .call:hover:hover .wrapper {
    transform: rotateY(180deg);
  }
  #navigation .call .wrapper {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #navigation .call .icon {
    width: 1.5rem;
    height: auto;
    display: block;
    transition: transform 0.3s;
  }
  #navigation .call .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #navigation .call .header {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
  #navigation .call .link-content {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 75rem) {
  #navigation .contact-link:nth-of-type(2) {
    display: flex;
  }
}
/* Larger Desktop - 1200px */
@media only screen and (min-width: 100rem) {
  #navigation .donate {
    margin-left: auto;
    display: flex;
  }
  #navigation .nav-button {
    margin: 0;
  }
}
/*-- -------------------------- -->
<---		Footer			-->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #footer {
    padding: clamp(3.75rem, 17.82vw, 16.25rem) 1rem clamp(3.75rem, 5.82vw, 4.25rem) 1rem;
    background: #333a73;
    background: linear-gradient(45deg, #333a73 0%, #387adf 100%);
    position: relative;
    z-index: 1;
  }
  #footer .container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #footer .top {
    width: 100%;
    margin-bottom: 2.5rem;
    /* 24px - 64px */
    padding-bottom: clamp(1.5rem, 5vw, 4rem);
    border-bottom: 1px solid #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* 24px - 40px */
    gap: clamp(1.25rem, 4vw, 2.5rem);
  }
  #footer .ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* 24px - 36px */
    column-gap: clamp(1.5rem, 4vw, 2.25rem);
    row-gap: 0.5rem;
  }
  #footer .li {
    list-style: none;
  }
  #footer .link {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    text-decoration: none;
    margin: 0;
    color: #FFF;
    display: block;
    transition: color 0.3s;
  }
  #footer .link:hover {
    color: var(--primary);
  }
  #footer .logo {
    width: 100%;
    max-width: 13.0625rem;
    height: auto;
    display: block;
  }
  #footer .logo-img {
    width: 100%;
    height: auto;
    display: block;
  }
  #footer .bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  #footer .copyright {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: #bababa;
    display: block;
  }
  #footer .copyright-link,
  #footer .separater {
    font-size: 1rem;
    text-decoration: none;
    color: #bababa;
    transition: color 0.3s;
  }
  #footer .copyright-link:hover,
  #footer .separater:hover {
    color: var(--primary);
  }
  #footer .separater {
    margin: 0 1rem;
    display: inline-block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #footer {
    overflow: hidden;
  }
  #footer .swoosh-footer {
    transform: scaleX(2) rotate(180deg);
    position: absolute;
    top: -100px;
    left: 0px;
  }
  #footer .top {
    align-items: flex-start;
  }
  #footer .bottom {
    flex-direction: row;
    justify-content: center;
  }
  #footer .flex {
    margin: 0 auto;
  }
  #footer .social {
    /* sends it to the right in the 3rd position */
    order: 3;
  }
}
