/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero {
    /* 296px - 364px - top leaving extra space for the navigation */
    /* 60px - 100px bottom */
    padding: 5vh 0;
    position: relative;
    z-index: 1;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;

    .container {
      width: 100%;
      max-width: (1280/16rem);
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }

    .content {
      /* prevents padding from affecting height and width */
      box-sizing: border-box;
      /* 112px - 144px top & bottom */
      /* 16px - 48px left & right */
      padding: clamp(6.5rem, 8.95vw, 10.75rem) 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
	  
      z-index: 1;
    }

    .topper {
      /* 13px - 16px */
      font-size: clamp(0.8125rem, 1.5vw, 1rem);
      font-weight: 700;
      line-height: 1.2em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      margin-bottom: (4/16rem);
      color: var(--bodyTextColorWhite);
      gap: (8/16rem);
      position: relative;
    }

    .title {
      /* 39px - 61px */
      font-weight: 900;
      line-height: 1em;
      /* 16px - 24px */
      margin: 0 0 (40/16rem) 0;
      color: var(--bodyTextColorWhite);
      position: relative;
    }

    p {
      /* 16px - 20px */
      line-height: var(--fs-2);
      width: 100%;
      /* 464px - 622px */
      margin: 0;
      margin-bottom: (32/16rem);
      color: var(--bodyTextColorWhite);

      span {
        font-weight: 700;
        color: var(--primary);
      }
    }

    .left {
      
    }
    .right {

		grid-column: 1 / -1;
		grid-row: 1 / -1;
		position: absolute;
		z-index: -10;
		transform: scale(1.5);
		mix-blend-mode: overlay;
		filter: brightness(.4);
		min-width: 500px;

      .image-group {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
        grid-template-rows: 2fr 2fr 2fr;
		position: relative;
		margin:auto;
        .top-left {
          grid-row: 1;
          grid-column: 1;
          z-index: 10;
		  position: relative;
		  top:-50px;
		  left:-50px;
		}
        }

        .middle {
          grid-column: 1/-1;
          grid-row: 1/4;
        }

        .bottom-right {
          grid-row: 3;
          grid-column: 3;
          z-index: 10;
		  position: relative;
		  top:50px;
		  left:50px;
        }

        .circle img {
          border: clamp(3px, 1rem, 10px) solid white;
          width: 100%;
          height: 100%;
          object-fit: cover;
		  display: none;
		 
        }

        .middle img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
	#hero {

		.content{
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap:0;
			align-items: start;

			
			.image-group{
				//position: absolute;
			//left:-50px;
			//z-index: -10;
			}
		}
	}
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#hero {
		//padding-top: (20/16rem);
		.content {
		  display: grid;
		  grid-template-columns: 1fr 1fr;
		  gap: 2rem;
		  justify-items: center;
			align-items: center;;
		  h1, p {
			color:var(--secondary);
		  }
		}
		.right {
		  width: auto;
		  grid-column:2;
			position: relative;
			z-index: 1;
			transform: scale(1);
			mix-blend-mode: unset;
			filter: none;

		  .image-group {
			width: 100%;
			display: grid;
			grid-template-columns: 200px 200px;
			grid-template-rows: 200px 300px 200px;
	
			.top-left {
			  grid-row: 1;
			  grid-column: 1;
			  z-index: 10;
			  top:-50px;
			  left:-50px;
			}
	
			.middle {
			  grid-column: 1/-1;
			  grid-row: 1/-1;
			}
	
			.bottom-right {
			  grid-row: 3;
			  grid-column: 2;
			  z-index: 10;
			  top:50px;
			  left:50px;
			}
	
			.circle img {
			  border: 10px solid white;
			  border-radius: 50%;
			  display: block;
			}
	
			.middle img {
			  border-radius: 400px;
			}
		  }
		}
	  }
}

/* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
  #hero {
  }
 }

/* Large Desktop - Parallax Effect - 1600px */
@media only screen and (min-width: 100rem) {
  //   #hero {
  //     .background {
  //       background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting-2.jpeg");
  //       background-position: center;
  //       background-size: cover;
  //       background-repeat: no-repeat;
  //       background-attachment: fixed;
  //       img {
  //         display: none;
  //       }
  //     }
  //   }
}

/*-- -------------------------- -->
<---       We Create            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #we-create {
	position: relative;
	overflow: hidden;
    padding: clamp(6.5rem, 8.95vw, 10.75rem) 2rem;
    padding-bottom: 0px;
    background: rgb(51, 58, 115);
    background: linear-gradient(
      45deg,
      rgba(51, 58, 115, 1) 0%,
      rgba(56, 122, 223, 1) 100%
    );
	color:var(--bodyTextColorWhite);
    h2 {
      color: var(--bodyTextColorWhite);
      text-align: center;
      text-decoration: underline;
      text-underline-offset: 1rem;
      text-decoration-thickness: .5rem;
      padding-bottom: 2rem;
    }
    .container {
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: start;
	  gap:2rem;
    }

   
    .info {
      max-width: clamp(45ch,60ch,75ch);
    }
    .content {
      /* set text align to left if content needs to be left aligned */

      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      text-align: center;
	  margin: auto;
      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: stretch;
        padding-inline-start: 0;
        li {
          padding: clamp(2rem, 5vw, 9rem) 0;

		  display: grid;
		  align-items: center;
		  grid-template-columns: 1fr 4fr;
			text-align: left;
		  svg {
			fill: var(--bodyTextColorWhite);
			width: auto;
			height: (50/16rem);
			width: (50/16rem);
			grid-row: span 3;
			z-index: 1;
			opacity: 0.2;
			transform: scale(5);
		  }

		  

		  h4 {
			grid-column:  2;
			grid-row: 1;
			margin: 0;
		  }
		  p {
			grid-column: 2;
			
		  }
        }

		>:nth-child(2) {
			//background-color: red;
			justify-content: right;
		  }
      }
    }
  }


}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {

}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #we-create {
	
    padding: var(--sectionPadding);
    padding-bottom: 200px;
    h2 {
      color: var(--bodyTextColorWhite);
      text-align: center;
    }
    .container {
      width: 100%;
      /* changes to 1280px at desktop */

      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
    }

    .content {
      margin: auto;

      ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-align: center;
        justify-content: space-around;
        align-items: baseline;
        li {
          padding: 0 2rem;

		  p {
			margin-inline-start: 2rem;
		  }
        }
      }
    }
  }
}

/*-- -------------------------- -->
<---           side-by-side            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #side-by-side {
    padding: var(--sectionPadding);
    position: relative;
    padding: clamp(8.5rem, 10.95vw, 16.75rem) 2rem;
    .container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: (1050/16rem);
      margin: auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      /* 48px - 64px */
    }

    .content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }

    .title {
      color: var(--secondary);
      z-index: 100;

      span {
        color: var(--primary);
      }
    }

    .left {
      position: relative;
      &::before {
        content: "";
        width: clamp(7.375rem, 12vw, 11.25rem);
        height: clamp(7.375rem, 12vw, 11.25rem);
        z-index: -1;
        border: 15px solid var(--actionColor);
        border-radius: 50%;
        left: -35px;
        top: -35px;
        position: absolute;
      }
    }

    li {
      &::marker {
        color: var(--actionColor);
        font-size: 1.5em;
      }
      h4 {
		margin: 0;
        color: var(--primary);
      }
    }
  }
  .swoosh {
    position: absolute;
    width: 100%;
	transform:translate(0px, -150px) scaleX(2);
    overflow: hidden;
    //top:100px
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #side-by-side {
    .content {
      /* set text align to left if content needs to be left aligned */

      display: flex;
      flex-direction: row;
    }
    // .left {
    //   width: 60%;
    // }

    // .right {
    //   width: 40%;
    // }

	.swoosh{
		transform:translate(0px, -45px) scaleX(1.5);
	}
  }
  
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#side-by-side {
		.swoosh{
			transform:translate(0px, 0px) scaleX(2);
		}
	}

}

/*-- -------------------------- -->
<---            story            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #story {
    padding: var(--sectionPadding);
    background-color: #f3f3f4;
    position: relative;
    z-index: 1;
    overflow: hidden;

    .container {
      width: 100%;
      /* changes to 1280px at tablet */
      max-width: (584/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 100px */
      gap: clamp(3rem, 10vw, 6.25rem);
    }

    .content {
      /* set text align to left if content needs to be left aligned */
      text-align: left;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: flex-start;
    }

    .flex {
      max-width: (616/16rem);
    }

    .title {
      max-width: 20ch;
      margin-bottom: (24/16rem);
    }

    .ul {
      width: 100%;
      max-width: (522/16rem);
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      /* 28px - 32px */
      gap: clamp(1.75rem, 3vw, 2rem);
    }

    .li {
      list-style: none;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: (16/16rem);
    }

    .number {
      font-size: (20/16rem);
      font-weight: 700;
      line-height: 1.2em;
      margin: 0;
      color: var(--primary);
      display: block;
    }

    .li-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
    }

    .wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* 40px - 64px */
      gap: clamp(2.5rem, 6vw, 4rem);
      position: relative;
      z-index: 1;

      &:before {
        /* white background */
        content: "";
        width: 100vw;
        height: 500%;
        background: --var(bodyTextColorWhite);
        opacity: 1;
        display: block;
        position: absolute;
        /* 40px - 140px */
        top: clamp(2.5rem, 10vw, 8.75rem);
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
      }
    }

    .picture {
      width: 100%;
      height: 70vw;
      max-height: (400/16rem);
      display: block;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .quote {
      /* 62px - 100px */
      width: clamp(3.875rem, 7vw, 6.25rem);
      height: auto;
      margin-bottom: (-28/16rem);
      opacity: 0.4;
      position: relative;
      z-index: -1;
    }

    .review {
      --quoteColor: var(--primary);

      /* 20px - 25px */
      font-size: clamp(1.25rem, 3vw, 1.5625rem);
      font-weight: 700;
      line-height: 1.2em;
      width: 100%;
      max-width: (522/16rem);
      margin: 0;
      color: var(--headerColor);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #story {
    .container {
      max-width: (1280/16rem);
      gap: 0;
    }

    .content {
      padding-bottom: (100/16rem);
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }

    .flex {
      text-align: left;
      width: 40vw;
      max-width: (630/16rem);
      flex: none;
    }

    .title {
      margin: 0;
    }

    .wrapper {
      /* -60px to -140px */
      margin-top: ~"calc(clamp(3.75rem, 10vw, 8.75rem)*-1)";
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
    }

    .picture {
      width: 43vw;
      max-width: (630/16rem);
      height: auto;
      max-height: 100%;
      /* 252px - 414px */
      min-height: clamp(15.75rem, 30vw, 25.875rem);
      /* prevents flexbox from squishing it */
      flex: none;
    }

    .review {
      /* 100px - 235px */
      /* pushes up against the container so there's always that gap between the top of the review and the container */
      margin-top: clamp(6.25rem, 20vw, 14.5rem);
      align-self: flex-end;
    }
  }
}

/*-- -------------------------- -->
<---   Price Plans     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #price-plans {
    padding: var(--sectionPadding);
    overflow: hidden;

    .container {
      width: 100%;
      /* changes to 1280px at desktop */
    //   max-width: (684/16rem);
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // gap: clamp(3rem, 4vw, 4rem);
    }

    .content {
		width: 100%;
		display: flex;
		flex-direction: column;
	 // grid-template-columns:1fr;
      /* centers content horizontally, set to flex-start to left align */
	  gap:1rem;
	  align-items: center;
	  text-transform: uppercase;
	  font-weight: 700;


	  
    }

	.price-card {
		--br: 1rem;
		display: grid;
		grid-template-rows: 1fr 5fr;
		gap:1rem;
		width: 100%;
		max-width: 30rem;
		
		.card-header{
			margin: 0;
			height: 100%;
			width: 100%;
			border-radius: var(--br);
			background-color: var(--primary);
			color:var(--bodyTextColorWhite);
			text-align: center;
			text-transform: uppercase;
			display: flex;
			flex-direction: column;
			justify-content: center;
			span {
				font-weight: 400;
			}
		}

		.card-content {
			margin: 0;
			padding:1rem;
			
			border-radius: var(--br);
			background-color: var(--secondary);
			color:var(--bodyTextColorWhite);
			display: flex;
			justify-content: center;
			flex-direction: column;
			.title {
				text-align: center;
				color:var(--bodyTextColorWhite);
				margin-block-start: 1.5rem;
				
				.month{
					font-size: 1.2rem;
					vertical-align: middle;
					left:-10px;
					position: relative;
				}
				.dollar{
					font-size: 1.2rem;
					vertical-align: top;
					top:-10px;
					position: relative;
				}
			}

			.content-list{
				list-style: none;
				margin-bottom: 3rem;
				padding-inline-start: 0;
				padding: 1rem;
				li{
					text-wrap: nowrap;
					padding-top: 1rem;
					display: flex;
					vertical-align: center;
					svg {
						height: 2rem;
						width: 2rem;
						
						margin-inline-end:1rem;
						fill:var(--actionColor);
					}
					&::marker{
						font-size: 1.5rem;
						color:var(--actionColor);
					}

					p{
						margin-block:0;
					}
				}
			}
		}
	}
	.button-solid {
		text-wrap: nowrap;
	}
  }
}

/* tablet - 768px */
@media only screen and (min-width: 48rem) {
	#price-plans{
		.content {
			display: grid;
			grid-template-columns: 4fr 3fr;
			width: fit-content;
		  }
	}
}

/* Desktop - px */
@media only screen and (min-width: 64rem) {
	#price-plans{
		.content {
			display: grid;
			grid-template-columns: 4fr 3fr;
			width: fit-content;
		  }
	}
}
